.container {
  display: flex;
  flex-direction: column;
  overflow: visible;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
}

p {
  background-color: wheat;
  margin-top: 0;
}
